<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Download Manager</title>

        <link rel="stylesheet" href="css/all.css" />
        <link rel="stylesheet" href="css/mainWindow.css" />
        <link rel="stylesheet" href="css/controls.css" />
        <link rel="stylesheet" href ="https://materialdesignicons.com/cdn/light/0.2.63/css/materialdesignicons-light.min.css" />
        <link rel="stylesheet" href="css/popup.css" />
        
        <script>
            window.$ = window.jQuery = require('jquery');
            window.echarts = require('echarts');
        </script>
        <script src="js/mainWindow.js"></script>
        <script src="js/popup.js"></script>
        <script src="js/downloads.js"></script>
    </head>
    <body>


        <div class="popup popup-sidebar">
            <div class="content-headline">
                <span class="mdil mdil-48px mdil-download"></span><br>
                Downloads
            </div>

            <div class="sidebar-entry active" onclick="popupCategory('downloads', this)">
                <div class="sidebar-entry-icon">
                    <span class="mdil mdil-24px mdil-download"></span>
                </div>
                Downloads
            </div>
            <div class="sidebar-entry" onclick="popupCategory('stats', this)">
                <div class="sidebar-entry-icon">
                    <span class="mdil mdil-24px mdil-chart-areaspline"></span>
                </div>
                Statistics
            </div><br>

            <div class="sidebar-entry noHover small">
                IP Address: 127.0.0.2
            </div>
            <div class="sidebar-entry noHover small">
                Incoming DDoS Attacks: 25
            </div><br>
            <div class="sidebar-entry noHover small">
                Fake data. No real stats.
            </div>
        </div>

           

        <div class="popup popup-content active" style="display: block" id="content-downloads">
            <div id="dlspeed" width="740" class="content-headline"></div>
            <section id="downloadList"></section>
        </div>   

        <div class="popup popup-content"id="content-stats">
            <h3>Download statistics</h3>

        </div>       


        <div class="tabBar">
            <div class="systemButton close" id="systemClose">
                <span class="mdil mdil-chevron-double-down"></span>
            </div>
            <div class="systemButton" id="systemMin">
                <span class="mdil mdil-chevron-down"></span>
            </div>
        </div>
    </body>
</html>