<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Tab</title>

        <link rel="stylesheet" href="css/newTabPage.css" />
    </head>
    <body>
        <img src="assets/nitrogen.svg" class="frontLogo"><br><br>
        <span class="headline">NITROGEN</span><br>
        v0.0.1<br><br>
        <a href="https://github.com/rmcproductions/nitrogen">
            <button class="button">Get started</button>
        </a>
        <a href="https://github.com/rmcproductions/nitrogen/issues/new">
            <button class="button">Report a bug</button>
        </a>
    </body>
</html>