<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Tab</title>

        <link rel="stylesheet" href="css/newTabPage.css" />
        <link rel="stylesheet" href="css/all.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/newTabPage.js"></script>
    </head>
    <body>
        <div class="ntp-sidebar">
            <img src="assets/nitrogen.svg" class="frontLogo"><br>
            <span class="headline">NITROGEN</span><br>
            v0.0.2<br><br>
            <a href="https://github.com/rmcproductions/nitrogen/wiki">
                <div class="button">Get started</div>
            </a>
            <a href="https://github.com/rmcproductions/nitrogen/issues/new">
                <div class="button">Report a bug</div>
            </a>
        </div>

        <section class="qa-wrapper">
            Quick Access<br>
            <a href="https://rmcprod.me/nitrogen/">
                <div class="qa-item" id="qa-repo"></div>
            </a>
            <a href="https://github.com/rmcproductions/nitrogen/issues/new">
                <div class="qa-item" id="qa-bugs"></div>
            </a>
            <a href="https://github.com/rmcproductions/nitrogen/wiki">
                <div class="qa-item" id="qa-wiki"></div>
            </a>
            <a>
                <div class="qa-item">Blog (Coming Soon)</div>
            </a>
        </section>

        <section class="qa-wrapper">
            Latest commits<br>
            <section id="append-news"></section>
        </section>

        <section class="qa-wrapper">
            Weather <span style="color: rgba(255,255,255,.15); font-size: 12px;">Fake wather. No actual data.</span><br>
            <div class="qa-item">
                <h3>Now</h3>
                <img style="width: 92px; margin-top: -30px; margin-bottom: -25px;" src="assets/icons/weather/cloudy.svg"><br>
                24° Cloudy
            </div>
            <div class="qa-item">
                <h3>This night</h3>
                <img style="width: 92px; margin-top: -30px; margin-bottom: -25px;" src="assets/icons/weather/night.svg"><br>
                13° Clear
            </div>
            <div class="qa-item">
                <h3>Tomorrow</h3>
                <img style="width: 92px; margin-top: -40px; margin-bottom: -18px;" src="assets/icons/weather/rainy-5.svg"><br>
                22° Rainy
            </div>
            <div class="qa-item">
                <h3>Sunday</h3>
                <img style="width: 92px; margin-top: -40px; margin-bottom: -18px;" src="assets/icons/weather/day.svg"><br>
                28° Sunny
            </div>
            <div class="qa-item">
                <h3>Monday</h3>
                <img style="width: 92px; margin-top: -40px; margin-bottom: -18px;" src="assets/icons/weather/day.svg"><br>
                29° Sunny
            </div>
            <div class="qa-item">
                <h3>Tuesday</h3>
                <img style="width: 92px; margin-top: -40px; margin-bottom: -18px;" src="assets/icons/weather/thunder.svg"><br>
                26° Thunder
            </div>
        </section>
    </body>
</html>