<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nitrogen Settings</title>

        <link rel="stylesheet" href="css/all.css" />
        <link rel="stylesheet" href="css/mainWindow.css" />
        <link rel="stylesheet" href="css/controls.css" />
        <link rel="stylesheet" href ="css/fabric-icons-inline.css" />
        <link rel="stylesheet" href="css/popup.css" />

        <script>window.$ = window.jQuery = require('jquery');</script>
        <script src="js/mainWindow.js"></script>
        <script src="js/popup.js"></script>
        <script src="js/settings.js"></script>
    </head>
    <body>


        <div class="popup popup-sidebar">

            <div class="content-headline">
                <span style="font-size: 48px;" class="ms-Icon ms-Icon--Settings"></span><br>
                Settings
            </div>

            <!-- SETTING CATEGORIES -->

            <div class="sidebar-entry active" onclick="popupCategory('general', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--Home"></span>
                </div>
                General
            </div>
            <div class="sidebar-entry" onclick="popupCategory('appearance', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--Color"></span>
                </div>
                Appearance
            </div>
            <div class="sidebar-entry" onclick="popupCategory('tabs', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--Tab"></span>
                </div>
                Tabs
            </div>
            <div class="sidebar-entry" onclick="popupCategory('privacy', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--Shield"></span>
                </div>
                Privacy
            </div>
            <div class="sidebar-entry" onclick="popupCategory('search', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--Search"></span>
                </div>
                Search
            </div>
            <div class="sidebar-entry" onclick="popupCategory('downloads', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--Download"></span>
                </div>
                Downloads
            </div>
            <div class="sidebar-entry" onclick="popupCategory('updates', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--History"></span>
                </div>
                Updates
            </div>
            <div class="sidebar-entry" onclick="popupCategory('about', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--Info"></span>
                </div>
                About
            </div>

            <div class="sidebar-separator"></div>

            <div class="sidebar-entry spacer" onclick="popupCategory('developer', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--DeveloperTools"></span>
                </div>
                Developer
            </div>
            <div class="sidebar-entry" onclick="popupCategory('software', this)">
                <div class="sidebar-entry-icon">
                    <span class="ms-Icon ms-Icon--PieSingle"></span>
                </div>
                Third-party-software
            </div>
        </div>

        <!-- GENERAL -->

        <div class="popup popup-content active" style="display: block" id="content-general">
                <h3>General Settings</h3>
            <span style="color: #666; font-size: 13px;">Settings have no function right now. Changing them would be no use.</span><br><br>
            <div class="block">
                <span class="block-label">Show bookmarks bar</span>
                <input id="setting-bookmark-bar" type="checkbox" />
                <label for="setting-bookmark-bar"></label>
            </div>
        </div>

        <!--APPEARANCE-->

        <div class="popup popup-content" id="content-appearance">
            <h3>Appearance</h3>
            
            <div class="block">
                <span class="block-label">Blur background</span>
                <input id="setting-blur-behind" checked type="checkbox" />
                <label for="setting-blur-behind"></label>
            </div>

            Blur Style: 
            <select id="blurStyle">
                <option value="Acrylic">Acrylic</option>
                <option value="BlurBehind" selected>BlurBehind</option>
                <option value="TransparentGradient">Transparent</option>
                <option value="Gradient">Solid</option>
            </select>
        </div>

        <!-- TABS -->

        <div class="popup popup-content" id="content-tabs">
            <h3>Tabs</h3>
        </div>

        <!-- PRIVACY -->

        <div class="popup popup-content" id="content-privacy">
            <h3>Privacy</h3>
            
            Absolutely no privacy at the moment. Be careful.
        </div>

        <!-- SEARCH -->

        <div class="popup popup-content" id="content-search">
            <h3>Search</h3>
            
            Search engine: 
            <select id="searchEngine">
            </select>
        </div>

        <!-- DOWNLOADS -->

        <div class="popup popup-content" id="content-downloads">
            <h3>Downloads</h3>
            <div class="panel-button" id="downloadManager">Open download manager</div>
        </div>

        <!-- UPDATES -->

        <div class="popup popup-content" id="content-updates">
            <h3>Updates</h3>
            
            Your Nitrogen version is 0.0.2.<br><br>
            <div class="panel-button">Search for Updates</div>
        </div>

        <!-- ABOUT -->

        <div style="text-align: center; padding-top: 60px" class="popup popup-content" id="content-about">
            <div class="content-headline">
                <img src="assets/nitrogen.svg" width=96px><br>
            </div>
            
            <span style="font-size: 30px">
                Nitrogen<br>
            </span>
            v0.0.2<br><br>
            This version of Nitrogen is an early alpha and has just basic features.<br>
            If you find a bug, feel free to report it <a href="https://github.com/rmcproductions/nitrogen/issues/new">here</a>.<br><br><br>
            <b>Developers</b><br>
            <a href="https://rmcprod.me">RMC Productions</a><br><br>
            <b>Contributors</b><br>
            <!--Feel free to add your name if you contributed something.-->
            None.<br><br><br><br>
            <a href="javascript:popupCategory('developer')">Developer options</a>
        </div>

        <!-- DEVELOPER -->

        <div style="text-align: center" class="popup popup-content" id="content-developer">
            <h3>Developer</h3>

            <div class="panel-button" id="devTools">Open Dev Tools</div>
        </div>

        <!-- THIRDPARTY SOFTWARE -->

        <div style="text-align: center; padding-top: 60px" class="popup popup-content" id="content-software">
            <div class="content-headline">
                <span class="mdil mdil-96px mdil-chart-pie"></span>
            </div>
            <h3>Third-party Software</h3>
            Check the package.json file to see all dependencies. A list will appear here soon.
            <h3>Licenses</h3>
            <b>Generic icons</b> in the browser window are <a href="https://developer.microsoft.com/en-us/fabric#/">Fabric Icons</a>.<br>
            <b>Weather icons</b> on the new tab page are from <a href="https://www.amcharts.com/free-animated-svg-weather-icons/">amcharts.com</a>.
        </div>
        


        <div class="tabBar">
            <!--<div class="tabBarText">
                <div class="systemButton left decorative">
                    <span class="mdil mdil-24px mdil-settings"></span>
                </div>
                Settings
            </div>-->
            <div class="systemButton close" id="systemClose">
                <span class="ms-Icon ms-Icon--Cancel"></span>
            </div>
            <div class="systemButton" id="systemMin">
                <span class="ms-Icon ms-Icon--ChevronDown"></span>
            </div>
        </div>
    </body>
</html>