.block {
    width: 200px;
    position: relative;
    line-height: 30px;
    height: 30px;
}

input[type=checkbox] {
    display: none;
}

label {
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid;
    float: left;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 5px;
}

input[type=checkbox]:checked+label:before {
    left: 22px;
}

label:before {
    transition: .2s cubic-bezier(1, 0, 0.5, 1);
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background: white;
    left: 2px;
    top: 7px;
    box-sizing: border-box;
    border: 2px solid;
    color: black;
    border-radius: 100px;
    margin: 2px;
}

.block-label {
    font-size: 15px;
    width: 85px;
    margin-left: 8px;
    margin-bottom: 10px;
}

select {
    font-family: 'Titillium Web', Loma, Segoe UI, Arial, sans-serif;
    border: 1px solid white;
    -webkit-appearance: none;  
    appearance:none;
    background: black;
    color: #FFF;
    padding: 5px;
    padding-left: 10px;
    width: 200px;
    font-size: 14px;
}
select:focus{
    outline: none;
}