@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    border: none !important;
    font-family: 'Titillium Web', Loma, Segoe UI, Arial, sans-serif;
}
body{
    background: #0a0a0a;
    animation: slider .5s ease;
}

.frontLogo{
    margin-top: 25px;
    height: 50px;
}

.headline{
    font-size: 30px;
}

a{
    color: white;
    text-decoration: none;
}
.button{
    color: white;
    font-family: 'Titillium Web', Loma, Segoe UI, Arial, sans-serif;
    cursor: pointer;
    background: rgba(255,255,255,0);
    border: none;
    border-radius: 7px;
    font-size: 18px;
    padding: 3px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
}

.ntp-sidebar{
    height: 100%;
    width: 230px;
    float: left;
    padding-right: 30px;
    text-align: right;
    box-sizing: border-box;
}
@keyframes slider{
    0%  { transform: scale(0.98); opacity: 0; }
    100%{ transform: scale(1); opacity: 1; }
}

.qa-wrapper{
    width: calc(100% - 200px - 30px);
    height: 210px;
    float: right;
    overflow: hidden;
    overflow-x: auto;
    padding-top: 17px;
    white-space: nowrap;
}
.qa-item{
    width: 250px;
    height: 150px;
    background: rgba(0,0,0,.4);
    display: inline-block;
    margin-top: 10px;
    margin-right: 25px;
    overflow: hidden;
    text-align: center;
    transition: .2s ease;
    background-size: 120% !important;
    white-space: normal;
}
.qa-item:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-size: 100% !important;
}

#qa-repo{
    background: url('../assets/splashes/nitrogen.png') center;
}
#qa-bugs{
    background: url('../assets/splashes/bugs.png') center;
}
#qa-wiki{
    background: url('../assets/splashes/wiki.png') center;
}